{# <ul data-ref="menu" id="navigationBurger-menu" class="menu">
  {% for item in items %}
    <li class="item {{- item.current ? ' current-menu-item' }}">
      <a class="link" href="{{ item.link|e('esc_url') }}" {{- item.is_external or item.is_target_blank ? ' target="_blank" rel="noopener noreferrer"' -}}>{{ item.title }}</a>
    </li>
  {% endfor %}
</ul> #}
<div data-ref="menu" id="navigationBurger-menu" class="menu">

  <div class="overlay NoPanel">
    <div class="overlay-nav">
      <button class="mmenu-back"></button>
      <button 
        class="button--icon button--circle button-searchBar" 
        data-icon="search" 
        data-button-theme="tertiary" 
        aria-label="Submit search"
        id="burger-menu-search"
        >
        search
      </button>
      <button 
        class="button--icon button--circle button-menu-close" 
        data-icon="close-large" 
        data-button-theme="tertiary" 
        aria-label="Submit search"
        id="menu-close"
        >
        close
      </button>
      <form 
          role="search" 
          method="get" 
          class="searchBar overlay-nav-searchBar" 
          action="/"
        >
          <div class="search-wrapper">
            <input 
              type="search" 
              class="searchBar-input" 
              aria-label="Search" 
              placeholder="{{ placeholder|default('Search') }}"  
              name="s"
              data-rlvlive="true" 
              data-rlvparentel="#universal-search2" 
              data-rlvconfig="default" 
            />
            <button 
              type="button" 
              class="button--icon button--circle button-searchBar-close" 
              data-icon="close-medium" 
              data-button-theme="white" 
              data-size="small" 
              aria-label="close search" 
            />
          </div>
          <div id="universal-search2" class="search-results-wrapper"></div>
      </form>
    </div>
    {# <button href="/" class="button button--reversed" id="back-button" data-icon="heart-handshake" data-icon-gap="large" data-size="small">How can we help?</button>  #}
    <button href="/" class="button" data-size="small">How can we help?</button> 
  </div>
  <div class="Panel mainPanel">


    <ul>
    {% macro renderList(list, primaryList) %}
        {% for item in list %}
          <li {% if primaryList %} class="primary"{% endif %}>
            {% if item.children %}
              <span>{{ item.title }}</span>
              <div>
                <h3 class="submenu-title">{{ item.title }}</h3>
                <ul>
                  {{ _self.renderList(item.children) }}
                </ul>
              </div>
            {% else %}
              <a class="link" href="{{ item.link|e('esc_url') }}" title="{{ item.title }}">{{ item.title }}</a>
            {% endif %}
          </li>
        {% endfor %}
    {% endmacro %}

    {{ _self.renderList(menuPrimary, true) }}
    {{ _self.renderList(menuSecondary) }}

    </ul>
  </div>
</div>